

@font-face {
        font-family: 'OpenSans'; 
        src: url('OpenSans-Regular.ttf');
}

@font-face {
        font-family: 'OpenSans-Semibold'; 
        src: url('OpenSans-Semibold.ttf');
}


* { 
        margin:0; padding:0; box-sizing:border-box; 
}


img {
        height: auto;
        width: 85%;
        padding-top: 80px;
        padding-bottom: 80px;
}

iframe {
        padding-top: 80px;
        padding-bottom: 80px;
}

a {
        text-align: center;
        color: #46bcd8;
}

.title {
        padding: 60px 60px 30px 60px;
        font-size: 60px;
        color: #343434;
        font-family: 'OpenSans-Semibold';
}

.subTitle {
        padding: 80px 60px 20px 60px;
        font-size: 50px;
        text-align: center;
        color: #343434;
        font-family: 'OpenSans-Semibold';
}

.content {
        padding: 20px 60px 20px 60px;
        font-size: 40px;
        color: #4d4d4d;
        font-family: 'OpenSans';
}
